<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="body">
        <div class="side-bar">
            <a class="active" href="#home"><span class=""><i class="fas fa-home"></i></span><span class="link-text"> Home</span></a>
            <a href="#Pending"><span class=""><i class="fas fa-shopping-bag"></i></span><span class="link-text"> Pending</span></a>
            <a href="#Acceped"><span class=""><i class="fas fa-plus"></i></span><span class="link-text"> Accepted</span></a>
            <a href="#Scheduled"><span class=""><i class="fas fa-list"></i></span><span class="link-text"> Scheduled</span></a>
        </div>
        <div class="content">
            <div class="row" id="dashboard">
                <div class="col-12 text-center my-2">
                    <h3>@ViewData["Header"]</h3>
                </div>
            </div>
            <main role="main">
                @RenderBody()
            </main>

                <div class="fixed-bottom text-center">
                    &copy; 2021 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
